/* Additional Section Why */
.section--ad_company .h2 {
	color: #ffffff;
}

.layout--center {
	display: block;
	margin: 0 auto;
	max-width: 960px;
	width: 100%;
}
.mr-25{
	margin-right: 25px;
}
.chips {
	font-size: 0;
}

.chips--3_col {
	margin-top: 120px;
}

.chips--4_col {
	margin-top: 60px;
}

.chips--progress {
	margin-top: 120px;
}

.chips--2_col {
	margin-top: 80px;
	margin-bottom: 200px;
}

.chips__desc {
	width: 185px;
	display: inline-block;
	margin-left: 15px;
}

.chips__desc--2_col {
	width: 410px;
	margin-left: 0;
}

.chips__desc--2_col_2 {
	width: 220px;
	text-align: left;
	margin-left: 0;
}

.chips__item {
	display: inline-block;
	vertical-align: top;
	font-size: 1rem;
}

.chips__item--34_col {
	width: 33%;
	padding-left: 10px;
	padding-right: 10px;
}

.chips__item--4_col {
	width: 240px;
	text-align: center;
	margin-bottom: 10px;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(1px 1px 1px #000);
}

.mb-25 {
	margin-bottom: 25px;
}

.mt-100 {
	margin-top: 100px;
}

.mb-80 {
	margin-bottom: 80px;
}

.special h3 {
	text-align: center;
	font-size: 35px;
	font-family: Segoewp, sans-serif;
	text-transform: uppercase;
	color: #5f5f5f;
}

.special .pricing__sentence {
	font-size: 28px;
	color: #5f5f5f;
	line-height: initial;
	margin-top: 10px;
}

.special .pricing__price {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	font-weight: bold;
	margin-top: 20px;
	text-align: center;
	background: #ffce00;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 5px;
}

.special .buttom._2 {
	margin-top: 14px;
}

.chips__item--2_col p {
	width: 80%;
	text-align: center;
	margin: 0 auto;
}

.chips__item--2_col {
	width: 50%;
	text-align: center;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(1px 1px 1px #000);
	color: #ffffff;
}

.chips__text--2_col {
	color: #ffffff;
	line-height: 1.2em;
}

.chips__text {
	font-size: 1.2em;
}

.chips__header {
	font-size: 1.2rem;
	font-weight: normal;
	margin: 0;
}

.chips__header--white {
	width: 200px;
	display: block;
	margin: 30px auto;
	color: #ffffff;
	text-transform: uppercase;
}

.chips__icon {
	width: 102px;
	height: 102px;
	display: inline-block;
	vertical-align: top;
	background-repeat: no-repeat;
}

.section--ad_company {
	background-image: url("../images/chips/pexels-photo.jpg");
	padding-bottom: 40px;
	padding-top: 40px;
	background-size: cover;
}

.chips__icon--1 {
	background-image: url("../images/chips/chips__icon--1.png");
}

.chips__icon--2 {
	background-image: url("../images/chips/chips__icon--2.jpg");
}

.chips__icon--3 {
	background-image: url("../images/chips/chips__icon--3.jpg");
}

.chips__icon--4 {
	background-image: url("../images/chips/chips__icon--4.png");
}

.chips__icon--5 {
	background-image: url("../images/chips/chips__icon--5.jpg");
}

.chips__icon--2_1 {
	background-image: url("../images/chips/chips__icon--2_1.png");
}

.chips__icon--2_2 {
	background-image: url("../images/chips/chips__icon--2_2.png");
}

.chips__icon--2_3 {
	background-image: url("../images/chips/chips__icon--2_3.png");
}

.chips__icon--2_4 {
	background-image: url("../images/chips/chips__icon--2_4.png");
}

.chips__icon--2_5 {
	background-image: url("../images/chips/chips__icon--2_5.png");
}

.chips__icon--2_6 {
	background-image: url("../images/chips/chips__icon--2_6.png");
}

.chips__icon--2_7 {
	background-image: url("../images/chips/chips__icon--2_7.png");
}

.chips__icon--2_8 {
	background-image: url("../images/chips/chips__icon--2_8.png");
}

.chips__icon--2_9 {
	background-image: url("../images/chips/chips__icon--2_9.png");
}

.chips__icon--2_10 {
	background-image: url("../images/chips/chips__icon--2_10.png");
}

.chips__icon--2_11 {
	background-image: url("../images/chips/chips__icon--2_11.png");
}

.chips__icon--2_12 {
	background-image: url("../images/chips/chips__icon--2_12.png");
}

.chips__icon--3_1 {
	background-image: url("../images/chips/chips__icon--3_1.png");
}

.chips__icon--3_2 {
	background-image: url("../images/chips/chips__icon--3_2.png");
}

.chips__icon--3_3 {
	background-image: url("../images/chips/chips__icon--3_3.png");
}

.chips__icon--3_4 {
	background-image: url("../images/chips/chips__icon--3_4.png");
}

.chips__icon--4_1 {
	background-image: url("../images/chips/chips__icon--4_1.png");
	height: 112px;
}

.chips__icon--4_2 {
	background-image: url("../images/chips/chips__icon--4_2.png");
	height: 112px;
}

/* end additional */
textarea {
	resize: none;
}

.se1 {
	height: auto;
	padding-top: 10%;
	padding-bottom: 1%;
	background-image: -webkit-radial-gradient(circle farthest-corner at 24% 12%, hsla(0, 0%, 100%, .99), hsla(0, 0%, 100%, .37) 40%, hsla(0, 0%, 100%, 0) 44%), url('../images/Sail.jpg');
	background-image: radial-gradient(circle farthest-corner at 24% 12%, hsla(0, 0%, 100%, .99), hsla(0, 0%, 100%, .37) 40%, hsla(0, 0%, 100%, 0) 44%), url('../images/Sail.jpg');
	background-position: 0px 0px, 50% 77%;
	background-size: auto, cover;
}

.navbar {
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	z-index: 6;
	background-color: #fff;
	box-shadow: 0 0 11px 0 rgba(0, 0, 0, .11);
}

.cont {
	max-width: 1100px;
}

.divl {
	width: auto;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	float: left;
}

.divllogo {
	width: auto;
	height: auto;
	margin-right: -15px;
	float: left;
}

.logotext {
	margin-top: 15px;
	margin-bottom: 15px;
	float: left;
	font-family: Segoewp, sans-serif;
	color: rgba(0, 0, 0, .63);
	font-size: 32px;
	font-weight: 600;
}

.se2 {
	height: auto;
	padding-top: 5%;
	padding-bottom: 5%;
}

.divstolb {
	position: relative;
	left: 0px;
	top: 0px;
	right: 0px;
	width: 10px;
	height: 10px;
	margin-right: 2px;
	float: right;
	background-color: #ffce00;
}

.divstolb._1 {
	height: 50px;
}

.divstolb._2 {
	height: 50px;
}

.divstolb._3 {
	height: 40px;
}

.divstolb._4 {
	height: 30px;
	-webkit-transition: all 883ms ease-out;
	transition: all 883ms ease-out;
}

.divstolb._4:hover {
	height: 5px;
}

.divstolb._5 {
	height: 20px;
	-webkit-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}

.divstolb._5:hover {
	height: 10px;
}

.yalow {
	color: #ffce00;
}

.nav {
	display: block;
	width: auto;
	margin: 8px auto;
	float: left;
}

.link {
	padding-right: 14px;
	padding-left: 14px;
	font-family: Segoewp, sans-serif;
	color: rgba(0, 0, 0, .63);
	font-size: 17px;
	font-weight: 400;
}

.link.w--current {
	padding-right: 14px;
	padding-left: 14px;
	color: #ffce00;
	font-size: 17px;
}

.divr {
	width: auto;
	margin-top: 28px;
	margin-bottom: 28px;
	float: right;
}

.tel {
	float: right;
	font-family: Segoewp, sans-serif;
	color: rgba(0, 0, 0, .63);
	font-size: 25px;
	font-weight: 400;
	text-decoration: none;
}

.texttel {
	color: #ffce00;
}

.div1 {
	position: static;
	top: 149px;
	display: block;
	height: auto;
	max-width: 920px;
	margin-right: auto;
	margin-left: auto;
	line-height: 21px;
}

.h1 {
	margin-top: 0px;
	margin-bottom: 12px;
	font-family: Segoewp, sans-serif;
	color: rgba(0, 0, 0, .63);
	font-size: 36px;
	line-height: 38px;
	font-weight: 700;
	text-transform: uppercase;
}

.melko {
	font-family: Segoewp, sans-serif;
	color: rgba(0, 0, 0, .57);
	font-size: 18px;
	font-weight: 600;
}

.divforma {
	width: 430px;
	height: 313px;
	margin-top: 19px;
	float: left;
	clear: left;
}

.divforma._2 {
	display: block;
	width: 60%;
	height: 60px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	float: none;
	clear: none;
}

.zagolfo {
	margin-bottom: 13px;
	font-family: Segoewp, sans-serif;
	color: rgba(0, 0, 0, .63);
	font-size: 18px;
	line-height: 22px;
	font-weight: 600;
	text-transform: uppercase;
}

.fo {
	width: 208px;
	height: 60px;
	margin-right: 10px;
	float: left;
	border-style: none;
	border-radius: 6px;
	box-shadow: 0 0 24px 0 rgba(84, 157, 224, .2);
	font-family: Segoewp, sans-serif;
	font-size: 17px;
	font-weight: 300;
}

.fo._2 {
	margin-right: 0px;
}

.fo._3 {
	width: 426px;
}

.fo._4 {
	display: block;
	width: 100%;
	height: 50px;
	margin-right: auto;
	margin-left: auto;
	float: none;
	box-shadow: 0 0 24px 0 rgba(0, 0, 0, .13);
	color: #000;
	font-weight: 300;
	text-align: center;
}

.buttom {
	display: block;
	height: 60px;
	margin-right: auto;
	margin-left: auto;
	padding: 0px 41px;
	border-bottom: 3px solid #e6bb06;
	border-radius: 6px;
	background-color: #ffce00;
	-webkit-transition: all 200ms ease;
	transition: all 200ms ease;
	font-family: Segoewp, sans-serif;
	color: rgba(0, 0, 0, .76);
	font-size: 17px;
	font-weight: 700;
	cursor: pointer;
}

.buttom:hover {
	font-size: 18px;
}

.buttom._2 {
	width: 200px;
	height: 50px;
	margin-top: 18px;
	padding: 11px 33px;
	float: left;
	border: 3px solid #ffce00;
	background-color: rgba(255, 206, 0, 0);
	text-align: center;
}

.buttom._3 {
	float: left;
}

.buttom._4 {
	width: 100%;
	padding-right: 0px;
	padding-left: 0px;
}

.buttom._4:hover {
	font-size: 17px;
}

.divdeskript {
	width: auto;
	height: 44px;
	margin-top: 16px;
	margin-right: 6%;
	margin-left: 12px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 12px;
	float: left;
	border-style: none none none solid;
	border-left-width: 1px;
	border-left-color: #ffce00;
	font-family: Segoewp, sans-serif;
}

.textdes {
	color: rgba(0, 0, 0, .63);
	font-size: 16px;
	font-weight: 400;
}

.div2 {
	display: block;
	max-width: 1100px;
	margin-right: auto;
	margin-left: auto;
}

.colno {
	padding-right: 0px;
	padding-left: 0px;
}

.divsite {
	display: block;
	width: 508px;
	height: 400px;
	margin-top: 88px;
	margin-right: auto;
	margin-left: auto;
	float: left;
	background-image: url('../images/landing-page.png');
	background-position: 50% 50%;
	background-size: cover;
}

.divsite._3 {
	width: 490px;
	height: 421px;
	margin-top: 71px;
	float: none;
	background-image: url('../images/x5der36q.jpg');
	background-position: 50% 50%;
	background-size: cover;
}

.divznaki {
	height: 350px;
}

.divkartochka {
	display: block;
	width: 82%;
	height: auto;
	margin-right: auto;
	margin-bottom: 15px;
	margin-left: auto;
	float: left;
	cursor: default;
}

.divkartochka:hover {
	border-radius: 300px;
}

.h2 {
	margin-top: 0px;
	margin-bottom: 20px;
	font-family: Segoewp, sans-serif;
	color: rgba(0, 0, 0, .63);
	font-size: 36px;
	line-height: 37px;
	text-align: center;
	text-transform: uppercase;
}

.h2._2 {
	text-align: left;
}

.divpolosa {
	display: block;
	width: 50px;
	height: 3px;
	margin-right: auto;
	margin-left: auto;
	float: left;
	clear: left;
	background-color: #ffce00;
}

.divpolosa._2 {
	margin-bottom: 44px;
	float: none;
	clear: none;
}

.divpolosa._2._3 {
	margin-bottom: 20px;
}

.podtext {
	margin-top: 0px;
	margin-bottom: 29px;
	float: none;
	clear: none;
	font-family: Segoewp, sans-serif;
	color: rgba(0, 0, 0, .63);
	font-size: 18px;
	line-height: 22px;
	font-weight: 400;
	text-align: left;
}

.podtext._2 {
	float: none;
	text-align: center;
}

.divznak {
	display: block;
	width: 37px;
	height: 37px;
	margin-right: auto;
	margin-bottom: 8px;
	margin-left: auto;
	background-image: url('../images/search-engine.svg');
	background-position: 0px 0px;
	background-size: cover;
}

.divznak._2 {
	background-image: url('../images/domain-registration.svg');
	background-position: 50% 50%;
	background-size: cover;
}

.divznak._3 {
	background-image: url('../images/blogging.svg');
	background-position: 50% 50%;
	background-size: cover;
}

.divznak._4 {
	background-image: url('../images/devices.svg');
	background-position: 50% 50%;
	background-size: cover;
}

.divznak._6 {
	background-image: url('../images/monitoring.svg');
	background-position: 0px 0px;
	background-size: cover;
}

.divznak._5 {
	background-image: url('../images/speedometer.svg');
	background-position: 0px 0px;
	background-size: cover;
}

.divznak._7 {
	background-image: url('../images/sitemap.svg');
	background-position: 0px 0px;
	background-size: cover;
}

.divznak._8 {
	background-image: url('../images/typewriter.svg');
	background-position: 0px 0px;
	background-size: cover;
}

.divznak._9 {
	background-image: url('../images/search.svg');
	background-position: 50% 50%;
	background-size: cover;
}

.divznak._12 {
	background-image: url('../images/target.svg');
	background-position: 50% 50%;
	background-size: cover;
}

.divznak._10 {
	background-image: url('../images/link.svg');
	background-position: 0px 0px;
	background-size: cover;
}

.divznak._11 {
	background-image: url('../images/screen.svg');
	background-position: 0px 0px;
	background-size: cover;
}

.divznak._13 {
	background-image: url('../images/sharing-archives.svg');
	background-position: 0px 0px;
	background-size: cover;
}

.divznak._14 {
	background-image: url('../images/viral-marketing.svg');
	background-position: 0px 0px;
	background-size: cover;
}

.divznak._15 {
	background-image: url('../images/online-shop.svg');
	background-position: 50% 50%;
	background-size: cover;
}

.divznak._16 {
	background-image: url('../images/coding.svg');
	background-position: 50% 50%;
	background-size: cover;
}

.divznak._17 {
	background-image: url('../images/map.svg');
	background-position: 0px 0px;
	background-size: cover;
}

.divznak._18 {
	background-image: url('../images/tap.svg');
	background-position: 0px 0px;
	background-size: cover;
}

.divznak._19 {
	background-image: url('../images/analytics.svg');
	background-position: 0px 0px;
	background-size: cover;
}

.divznak._20 {
	background-image: url('../images/targeting.svg');
	background-position: 0px 0px;
	background-size: cover;
}

.divznak._21 {
	background-image: url('../images/search-engine-1.svg');
	background-position: 0px 0px;
	background-size: cover;
}

.divznak._22 {
	background-image: url('../images/design.svg');
	background-position: 50% 50%;
	background-size: cover;
}

.divznak._23 {
	background-image: url('../images/customer.svg');
	background-position: 0px 0px;
	background-size: cover;
}

.divznak._24 {
	background-image: url('../images/browser.svg');
	background-position: 50% 50%;
	background-size: cover;
}

.divznak._25 {
	background-image: url('../images/funnel.svg');
	background-position: 50% 50%;
	background-size: cover;
}

.text-zagol {
	border-bottom: 1px none #000;
	font-family: Segoewp, sans-serif;
	color: rgba(0, 0, 0, .63);
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
}

.zena {
	margin-top: 16px;
	font-family: Segoewp, sans-serif;
	color: rgba(0, 0, 0, .63);
	font-size: 21px;
	font-weight: 600;
	text-align: left;
}

.marker {
	color: #ffce00;
}

.se3 {
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: hsla(0, 0%, 100%, .02);
}

.div3 {
	display: block;
	max-width: 1100px;
	margin-right: auto;
	margin-left: auto;
}

.divreclama {
	display: block;
	width: 100%;
	height: 244px;
	margin-top: 182px;
	margin-right: auto;
	margin-left: auto;
	background-image: url('../images/ppc.png');
	background-position: 100% 50%;
	background-size: cover;
}

.divad {
	position: absolute;
	right: 0px;
	bottom: 0px;
	z-index: 1;
	width: 300px;
	height: 175px;
	float: none;
	background-image: url('../images/0y-300x168.png');
	background-position: 50% 50%;
	background-size: cover;
}

.divindex {
	position: absolute;
	left: 49px;
	top: 55px;
	right: 0px;
	z-index: 2;
	display: block;
	width: 500px;
	height: 227px;
	margin-right: auto;
	margin-left: auto;
	background-image: url('../images/e4c10609ee32363c2c5625d77185fc3a.png');
	background-position: 50% 50%;
	background-size: cover;
	box-shadow: 0 0 14px 0 rgba(0, 0, 0, .24);
}

.se4 {
	padding-top: 5%;
	padding-bottom: 5%;
}

.div4 {
	display: block;
	max-width: 1100px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 60px
}

.se5 {
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: rgba(0, 0, 0, .02);
	background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .92), hsla(0, 0%, 100%, .92)), url('../images/Sail.png');
	background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .92), hsla(0, 0%, 100%, .92)), url('../images/Sail.png');
	background-position: 0px 0px, 50% 73%;
	background-size: auto, cover;
}

.div5 {
	display: block;
	max-width: 1100px;
	margin-right: auto;
	margin-left: auto;
}

.se6 {
	padding-top: 3%;
	padding-bottom: 4%;
	background-color: rgba(0, 0, 0, .02);
}

.div6 {
	display: block;
	max-width: 1100px;
	margin-right: auto;
	margin-left: auto;
}

.divwilet {
	position: absolute;
	left: -31px;
	top: -187px;
	right: 0px;
	z-index: 6;
	display: none;
	width: 293px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	padding: 8px;
	border-radius: 10px 6px 6px 10px;
	background-color: #fff;
	box-shadow: 0 0 111px 0 rgba(0, 0, 0, .55);
	font-family: Segoewp, sans-serif;
	color: rgba(0, 0, 0, .63);
	font-size: 15px;
	line-height: 18px;
	font-weight: 600;
	text-align: center;
}

.zagol {
	position: relative;
	font-size: 16px;
	line-height: 12px;
	font-weight: 900;
	text-align: center;
}

.text {
	margin-top: 3px;
}

.divwindow {
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 108;
	display: none;
	background-color: rgba(0, 0, 0, .79);
}

.divoko {
	position: relative;
	top: 126px;
	display: block;
	width: 280px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	padding: 19px 20px 1px;
	background-color: hsla(0, 0%, 99%, .92);
}

.divclosed {
	position: absolute;
	left: -14px;
	top: -50px;
	right: -14px;
	display: block;
	width: 60px;
	height: 60px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 21px;
	padding-bottom: 21px;
	float: right;
	background-color: #fff;
	box-shadow: 0 0 6px 0 rgba(48, 36, 36, .33);
	color: #ffcd00;
	font-size: 33px;
	text-align: center;
	cursor: pointer;
}

.foza {
	margin-bottom: 11px;
	font-family: Segoewp, sans-serif;
	color: rgba(0, 0, 0, .69);
	font-size: 19px;
	font-weight: 700;
	text-align: center;
}

.textopis {
	margin-top: 0px;
	margin-bottom: 25px;
	font-family: Segoewp, sans-serif;
	color: rgba(0, 0, 0, .63);
	font-size: 18px;
	line-height: 22px;
	font-weight: 400;
}

.textopis._2 {
	margin-bottom: 9px;
	font-size: 12px;
	font-weight: 700;
}

.zaza {
	margin-bottom: 6px;
	font-family: Segoewp, sans-serif;
	color: rgba(0, 0, 0, .63);
	font-size: 29px;
	line-height: 38px;
	font-weight: 700;
	text-transform: uppercase;
}

.divstrelka {
	position: absolute;
	left: 377px;
	display: block;
	width: 147px;
	height: 34px;
	margin-top: 27px;
	margin-right: auto;
	margin-left: auto;
	background-image: url('../images/strela.png');
	background-position: 0px 0px;
	background-size: cover;
	opacity: 0.59;
	-webkit-transform: rotate(-27deg);
	-ms-transform: rotate(-27deg);
	transform: rotate(-27deg);
}

.divstrelka._2 {
	left: 583px;
	-webkit-transform: rotateX(0deg) rotateY(-180deg) rotateZ(-37deg) translate(0px, 0px);
	transform: rotateX(0deg) rotateY(-180deg) rotateZ(-37deg) translate(0px, 0px);
}

@media (max-width: 991px) {
	.se1 {
		padding-top: 18%;
		padding-bottom: 5%;
		background-image: -webkit-radial-gradient(circle farthest-corner at 19% 24%, #fff, hsla(0, 0%, 100%, 0) 86%), url('../images/Sail.jpg');
		background-image: radial-gradient(circle farthest-corner at 19% 24%, #fff, hsla(0, 0%, 100%, 0) 86%), url('../images/Sail.jpg');
		background-position: 0px 0px, 50% 0px;
		background-size: auto, cover;
	}

	.cont {
		max-width: 750px;
	}

	.divl {
		margin-bottom: 1px;
	}

	.nav {
		top: 37px!important;
		width: 250px;
		border-radius: 20px;
		background-color: #fff;
	}

	.link {
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: center;
	}

	.link.w--current {
		text-align: center;
	}

	.divr {
		margin-bottom: 21px;
	}

	.tel {
		font-size: 27px;
	}

	.div1 {
		max-width: 750px;
	}

	.divforma._2 {
		width: 87%;
	}

	.divdeskript {
		margin-right: 6px;
		margin-left: 6px;
		padding-left: 6px;
	}

	.div2 {
		max-width: 750px;
	}

	.divsite {
		width: 100%;
		height: 297px;
		margin-top: 56px;
	}

	.divsite._3 {
		width: 227px;
		height: 200px;
		margin-bottom: 45px;
	}

	.divkartochka {
		width: 125px;
		float: none;
	}

	.h2 {
		font-size: 25px;
	}

	.zena {
		margin-top: 0px;
	}

	.se3 {
		padding-top: 10%;
	}

	.div3 {
		max-width: 750px;
	}

	.divreclama {
		display: block;
		width: 410px;
		height: 181px;
		margin: 47px auto 24px;
		float: none;
	}

	.divindex {
		width: 400px;
		height: 182px;
	}

	.div4 {
		max-width: 750px;
	}

	.div5 {
		max-width: 750px;
	}

	.div6 {
		max-width: 750px;
	}

	.burger {
		position: absolute;
		left: 0px;
		top: 58px;
		right: 0px;
		display: block;
		width: 50px;
		height: 50px;
		margin-right: auto;
		margin-left: auto;
		padding: 15px 0px;
		float: none;
		border-radius: 300px;
		background-color: #fff;
		box-shadow: 0 0 6px 0 rgba(0, 0, 0, .21);
		font-size: 25px;
		text-align: center;
		text-transform: none;
	}

	.burger.w--open {
		background-color: #ffce00;
	}

	.divwilet {
		left: -143px;
		top: -164px;
		display: none;
	}
	.ml-sm-50{
		margin-left: 50px;
	}
	.ml-sm-150{
		margin-left: 150px;
	}
	.before-arrow:before{
		left: -140px;
	}
	.chips__item--34_col {
		width: 50%;
		padding-left: 10px;
		padding-right: 10px;
		display: block;
		margin: 0 auto;
	}
	._2.buttom.ml-25{
		float: none;
		margin-left: auto!important;
	}
	.divwilet._3 {
		left: -207px;
	}

	.divwilet._1 {
		left: 6px;
	}

	.divwindow {
		display: none;
	}

	.divstrelka {
		left: 213px;
	}

	.divstrelka._2 {
		left: 227px;
	}

	.rowflex {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}

	.rowfl {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-webkit-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
}

@media (max-width: 767px) {
	.se1 {
		padding-top: 24%;
		padding-bottom: 0%;
	}

	.cont {
		max-width: 550px;
	}

	.divr {
		width: auto;
	}

	.div1 {
		max-width: 550px;
	}

	.divforma._2 {
		width: 83%;
		height: auto;
	}

	.buttom._3 {
		float: none;
	}

	.divdeskript {
		display: none;
	}

	.div2 {
		max-width: 550px;
	}

	.divsite {
		width: 60%;
		height: 254px;
		margin-top: 0px;
		margin-bottom: 27px;
		float: none;
	}

	.divsite._3 {
		margin-top: 32px;
		margin-bottom: 25px;
	}

	.divkartochka {
		margin-bottom: 29px;
	}

	.div3 {
		max-width: 550px;
	}

	.divreclama {
		height: 170px;
		margin-top: 22px;
		margin-bottom: 27px;
	}

	.divindex {
		top: 33px;
	}

	.div4 {
		max-width: 550px;
	}

	.se5 {
		padding-bottom: 5%;
	}

	.div5 {
		max-width: 550px;
	}

	.div6 {
		max-width: 550px;
	}

	.burger {
		top: 41px;
	}

	.divwilet {
		position: absolute;
		left: 47px;
		top: -203px;
		right: 3px;
		bottom: 0px;
		display: none;
		height: 204px;
	}

	.divwilet._2 {
		left: -43px;
	}

	.divwilet._4 {
		left: -163px;
	}

	.text {
		font-size: 14px;
	}

	.divwindow {
		display: none;
	}

	.divoko {
		top: 78px;
	}

	.divstrelka {
		left: 285px;
		margin-top: -11px;
	}

	.divstrelka._2 {
		left: 300px;
	}

	.rowflex {
		display: block;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
		-webkit-flex-direction: row-reverse;
		-ms-flex-direction: row-reverse;
		flex-direction: row-reverse;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.rowfl {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-webkit-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
}

@media (max-width: 479px) {
	.se1 {
		padding-top: 38%;
		padding-bottom: 16%;
		background-image: -webkit-radial-gradient(circle farthest-corner at 29% 27%, #fff, hsla(0, 0%, 100%, 0) 86%), url('../images/Sail.jpg');
		background-image: radial-gradient(circle farthest-corner at 29% 27%, #fff, hsla(0, 0%, 100%, 0) 86%), url('../images/Sail.jpg');
		background-position: 0px 0px, 50% 0px;
		background-size: auto, cover;
	}
	.ml-xs-0{
		margin-left: 0;
	}
	.ml-xs-20{
		margin-left: 20px;
	}
	.mr-xs-0{
		margin-right: 0;
	}
	.chips__item--34_col {
		width: 100%;
	}
	.layout--center{
		max-width: 95%;
	}
	.chips__item--4_col {
		width: 100%;
	}
	.chips__item--2_col {
		width: 100%;
	}
	.cont {
		max-width: 300px;
	}

	.logotext {
		font-size: 23px;
	}

	.se2 {
		padding-top: 17%;
		padding-bottom: 17%;
	}

	.nav {
		top: 44px!important;
		margin-top: 0px;
	}

	.divr {
		width: auto;
		margin-top: 27px;
		margin-bottom: 11px;
	}

	.tel {
		font-size: 18px;
	}

	.div1 {
		max-width: 300px;
	}

	.h1 {
		font-size: 22px;
		line-height: 27px;
		text-align: center;
	}

	.melko {
		line-height: 14px;
	}

	.divforma {
		display: block;
		width: 300px;
		margin-right: auto;
		margin-left: auto;
		float: none;
		clear: none;
	}

	.divforma._2 {
		width: 100%;
		height: 200px;
	}

	.zagolfo {
		font-size: 14px;
		text-align: center;
	}

	.fo {
		display: block;
		width: 300px;
		margin-right: auto;
		margin-bottom: 6px;
		margin-left: auto;
		float: none;
		text-align: center;
	}

	.fo._2 {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}

	.fo._3 {
		width: 300px;
	}

	.buttom {
		width: 300px;
	}
	._2.buttom.ml-25{
		float: none;
		margin-left: auto!important;
	}
.special h3{
	font-size: 28px;
}
	.div2 {
		max-width: 300px;
	}

	.divsite {
		width: 97%;
		height: 230px;
	}

	.divsite._3 {
		width: 264px;
		height: 233px;
		margin-top: 0px;
	}

	.divznaki {
		height: auto;
	}

	.divkartochka {
		width: 80%;
	}

	.h2 {
		font-size: 21px;
		line-height: 26px;
	}

	.divpolosa {
		float: none;
		clear: none;
	}

	.podtext {
		margin-bottom: 30px;
	}

	.text-zagol {
		font-size: 15px;
	}

	.zena {
		margin-top: 23px;
		font-size: 20px;
	}

	.se3 {
		padding-top: 17%;
		padding-bottom: 17%;
	}

	.div3 {
		max-width: 300px;
	}

	.divreclama {
		width: 288px;
		height: 127px;
		margin-top: 0px;
	}

	.divindex {
		position: static;
		width: 300px;
		height: 135px;
		margin-top: 28px;
	}

	.se4 {
		padding-top: 17%;
		padding-bottom: 17%;
	}

	.div4 {
		max-width: 300px;
	}

	.se5 {
		padding-bottom: 9%;
	}

	.div5 {
		max-width: 300px;
	}

	.div6 {
		max-width: 300px;
	}

	.burger {
		top: 50px;
	}

	.divwilet {
		left: 0px;
		display: none;
	}

	.divwilet._3 {
		left: 0px;
		display: none;
	}

	.divwilet._3._4 {
		left: -151px;
	}

	.divwilet._3._6 {
		left: -201px;
		display: none;
	}

	.divwilet._2 {
		left: -102px;
	}

	.divwilet._1 {
		display: none;
	}

	.divwilet._5 {
		left: -96px;
	}

	.divwindow {
		display: none;
	}

	.divoko {
		top: 101px;
	}

	.zaza {
		font-size: 20px;
		line-height: 26px;
	}

	.divstrelka {
		left: 157px;
		width: 80px;
		height: 24px;
		margin-top: 39px;
	}

	.divstrelka._2 {
		left: 148px;
		margin-top: 46px;
	}

	.rowflex {
		display: block;
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-webkit-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
}

@font-face {
	font-family: 'Segoewp';
	src: url('../fonts/SegoeWP.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Segoewp';
	src: url('../fonts/SegoeWP-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Segoewp';
	src: url('../fonts/SegoeWP-Light.ttf') format('truetype'), url('../fonts/SegoeWP-Semilight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Segoewp';
	src: url('../fonts/SegoeWP-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Segoewp';
	src: url('../fonts/SegoeWP-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}